*{
    background-color: black;
}
h1{
    color: antiquewhite;
    font-size: 50px;
    text-align: center;
    
} 
.form{
    width: 50%;
    background-color: bisque;
    margin-top: 10px;
} 

input{
    display: flex;
    background-color: antiquewhite;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    justify-content: center;
   
    
}
textarea{
    display: flex;
    background-color: antiquewhite;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin-bottom: 10px;
}
button{
    background-color: lightsalmon;
    color:darkred;
    padding: 10px;
    align-items: center;
    /* margin-bottom: 10px; */
}
