*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profilecard{
    height: 400px;
    width: 300px;
    border: 2px solid rgb(236, 195, 118);
    margin: auto;
    background-color: wheat;
}
.image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    background-color: beige;
    padding: 5px;
}
.image .profile{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.follow{
background-color: rgb(32, 32, 146);
color: aliceblue;
padding: 10px;
}
